{{ define "title" }}{{ end }}


{{ define "main" }}


<div class="row">                                                                                                                          
<div class="col-md-8">





<p>
Hello! Do you write software? Do you ever feel like you should know
<i>more</i> about operating systems, but you're not sure exactly what? 
</p>
<p>
This book will tell what you know about Linux, and make you more awesome at programming.
</p>

<h3> Chapters </h3>


<ul> 
    {{ range .Data.Pages }}
        <li>
            <span><a  style="font-family: Montserrat, sans-serif; color:
            black;font-size: 14px;"
                      href="{{.RelPermalink}}">{{.Title}}</a></span>
        </li>
    {{ end }}
</ul>
</div>
</div>

{{ end }}
