{{ define "title" }}{{ end }}


{{ define "main" }}


<div class="row">                                                                                                                          
<div class="col-md-8 article-body">





<p>
You run programs on Linux. You know how to use a command line, and check
top. But there's something missing! Sometimes a coworker will show you a
cool trick and you're like "WHAT?! YOU CAN DO THAT? WHAT ELSE DON'T I
KNOW?".
</p>
<p>
Understanding the fundamentals of how your operating system works can
really level you up as a programmer -- it makes it dramatically easier
to debug your programs and write efficient software. But who has time to
read a 1500 page tome about operating systems? Not me! In this book,
I'll teach you all the stuff I wish I knew about Linux 5 years ago, and
tell you stories about how learning basic operating systems concepts has
helped me solve real programming problems.
</p>

<h3> Chapters </h3>


<ul> 
    {{ range .Data.Pages }}
        <li>
            <span><a  style="font-family: Montserrat, sans-serif; color:
            black;font-size: 14px;"
                      href="{{.RelPermalink}}">{{.Title}}</a></span>
        </li>
    {{ end }}
</ul>
</div>
</div>

{{ end }}
